.carousel-img-container {
    height: 600px;
  }
  .carousel-img {
    height: auto; 
    object-fit: contain; 
    display: center;
    max-width: 100%;
  }

  .carousel-caption {
    background-color: rgba(52, 45, 45, 0.257);
    font-size: 1.5rem; 
    padding: 1rem; 
  }
  

  .bg-cover {
    background-image: url(../img/mechanic-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    max-width: auto;
  }