.carousel-img-container {
    height: 400px;
  }
  .carousel-img {
    height: auto; 
    object-fit: cover; 
    display: center;
    max-width: 100%;
  }
  .bg-cover {
    background-image: url(../img/carshop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    max-width: auto;
  }